<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle de Gastos</title>
</head>

    <h2>Controle de Gastos - Listagem</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    <tr>
        {% for transacao in transacoes %}
        <td>{{ transacao.id }}</td>
        <td>{{ transacao.descricao }}</td>
        <td>{{ transacao.data }}</td>
        <td>{{ transacao.valor }}</td>
        <td>{{ transacao.categoria }}</td>
        <td><a href="{% url 'url_update' transacao.id %}">Editar</a></td>
        <td><a href="{% url 'url_delete' transacao.id %}">Remover</a></td>
    </tr>
    {% endfor %}
</table>

    <a href="{% url 'url_nova' %}">Novo cadastro</a>

</body>
</html>